import { ReactNode } from 'react'

import { StContainer } from './{{{componentName}}}.styled'
{{{reactNativeTypesImport}}}
interface Props {
  {{{overWriteStylesPropDefinition}}}
  children?: ReactNode
}

export const {{{componentName}}} = ({ children, {{componentStyleProp}} }: Props) => {
  return <StContainer {{componentStyleProp}}={{componentStylePropPass}}>{children}</StContainer>
}
