import { ReactNode } from 'react'

import { StContainer } from './{{{componentName}}}.styled'
{{{reactNativeTypesImport}}}
interface Props {
  {{{overWriteStylesPropDefinition}}}
  children?: ReactNode
}

export const {{{componentName}}} = ({ children, style }: Props) => {
  return <StContainer style={style}>{children}</StContainer>
}
